version: "3"

services:
  bundle:
    habitue:
      context: .
      dockerfile: Dockerfile
    container_name: habitue
    restart: unless-stopped
    tty: true
    working_dir: /var/www/html
    environment:
      SERVICE_TAGS: dev
      SERVICE_NAME: habitue
    volumes:
      - ./:/var/www/html
    networks:
      - laravel-habitue

#Docker Networks
networks:
  laravel-habitue:
    driver: bridge
